@media only screen and (max-width: 5000px) {
    .card{         
        max-width: 25%;
    }

    .menu-mobile{
        display: none;

    }
}    
@media only screen and (max-width: 1100px) {
    /* Estilos para larguras de tela menores ou iguais a 1100px */
    .logo img{
        width: 85px;
        height: auto;
    }
    .center{
        max-width: 100%;
        margin: 0 auto;
        padding: 0 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    header{
        padding: 20px 0;        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 1;
    }
    
    .menu{
        padding-top: 4%;
        text-align: center;
        width: 90%;
    }
    
    .cards{
        display:grid ;
        flex-wrap: wrap;
        justify-content: right;
        margin: 0px 0px 0px 0px;
        margin-left: 0%;
        margin-right: 0%;
    }
    .card{ 
        max-width: 80%;
    }
    .cards-estrutura{    
        height: 80%;
        
    }
    
    .estrutura img{
        display: none;
        
    }
     
}
@media only screen and (max-width: 760px) {
    /* Estilos para larguras de tela menores ou iguais a 743px */
   
    .menu {
        display: none;
    }
   

    .menu-mobile{
        display: flex;
        color: #2d8ff1;
        font-size: 22px;
        text-decoration: none;
        max-width: 100%;                 
    }

    .menu-mobile ul{
        list-style: none;       
    }

    .menu-mobile a{
        list-style:none;
        color: #2d8ff1;
        font-size:22px;
        text-decoration: none;
        display: flex;
        padding-left: 50px;
    }
    
    .menu-mobile a:hover{
        color: #012497;
    }

    
}